<h1>Teams</h1>

<% Team::DIVISIONS.each do |division| %>
  <h3><%= division %></h3>
  <ul>
    <% @teams.each do |team| %>
      <% if team.division == division %>
        <li><%= link_to "#{team.location} #{team.name}", team_path(team.id) %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
