<h2 align="center">Teams</h2>

<div align="center">
  <% ["NFC","AFC"].each do |conference| %>
    <div class="conference">
      <% Team::DIVISIONS.each do |division| %>
        <% if division.include?(conference) %>
          <h3 align="center"><%= division %></h3>
          <% @teams.where(division: division).each do |team| %>
            <% if team.division == division %>
              <span align="center" class=<%= team_class(team) %>>
                <%= link_to "#{team.location} #{team.name}", team_path(team.id) %>
              </span><br />
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
