nav li {
  list-style-type: none;
  text-align: right;
}

li {
  list-style-type: none;
}

nav:first-child {
  position: absolute;
  right: 20px;
}

table {
  font-size: 13.5px;
}

.header {
  display: inline;
  padding: 10px;
}

.standings {
  display: inline;
  padding: 20px;
}

.win_pct {
  text-align: right;
}
