@import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */

body {
  padding-bottom: 50px;
  margin-bottom: 50px;
  background-color: #EAC67A;
}

.layout {
  padding-bottom: 10px;
  border-bottom-style: ridge;
  border-width: 5px;
  background-color: #984B43;
}

.top-bar {
  background-color: #233237;
}

#title {
  margin-top: 50px;
  font-weight: bold;
  text-decoration: underline;
}

#title a {
  color: white;
}

li {
  list-style-type: none;
}

.conference {
  display: table-cell;
  padding-left: 100px;
  padding-right: 100px;
}

.favorite {
  background-color: yellow;
}

table {
  font-size: 12px;
}

.header {
  display: inline;
  padding: 10px;
}

.top-bar {
  text-align: center;
}

.name {
  text-align: left;
}

.standings td {
  padding: 5px;
}

.center.standings {
  padding-top: 30px;
}

#stats {
  border-collapse: collapse;
}

#stats tr {
  border-bottom: ridge;
  border-width: 2px;
}

#stats td {
  text-align: center;
}

#stats a.favorite, #stats a.team {
  text-align: left;
}

.sorted {
  background-color: #cccccc;
}

form {
  width: 200px;
  padding-left: 20px;
}

.side {
  padding-left: 10px;
}

a .side {
  padding-left: 10px;
}

#container {
  width:100%;
}

#left {
  float: left;
  width:500px;
}

#right {
  float: right;
}

#center {
  margin: auto;
  width:500px;
}

.row form {
  width: auto;
}

.center {
  text-align: center;
}

.left.stats {
  margin-top: 30px;
  margin-bottom: 30px;
}

.right {
  text-align: right;
}

.add_stats h1 {
  text-align: center;
}

.add_stats h3 {
  text-align: center;
}

.space {
  padding-right: 100px;
  padding-left: 100px;

}

.submit input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#team {
  text-align: center;
}

.narrow {
  width: 50px;
}

.wide {
  width: 120px;
}

#games {
  margin-left: 20px;
  margin-right: 20px;
}

a {
  color: black;
}

.top-bar a {
  color: white;
}

#stats {
  table-layout: fixed;
}

#stats tr.table_row {
  line-height: 0px;
}

#stats th.a {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
#stats td {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
