#title {
  position: absolute;
  right: 20px;
}

nav li {
  list-style-type: none;
  text-align: right;
}

li {
  list-style-type: none;
}

nav:first-child {
  position: absolute;
  right: 20px;
}

.conference {
  display: table-cell;
  padding-left: 100px;
  padding-right: 100px;
}

table {
  font-size: 13.5px;
}

.header {
  display: inline;
  padding: 10px;
}

.standings {
  display: inline;
  padding: 20px;
}

.data {
  text-align: right;
}

.name {
  text-align: left;
}

.standings td {
  padding: 5px;
}
